<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAPTEST</title>
    <link rel="stylesheet" th:href="@{/css/templatingstyle.css}">
    <link rel="stylesheet" th:href="@{/css/styling.css}">
    <script type="module" src="/scripts/mapAPI.js"></script>
<!--    href="node_modules/ol/ol.css">-->

    <style>

        #map{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

    </style>
</head>
<body>
<header th:insert="~{/towns/Templating.html::header}"></header>
<main>


    <H1> Map API Test Here</H1>

<!--    <div class="map2">-->
<!--&lt;!&ndash;        test data from hackathon&ndash;&gt;-->
<!--        <p> Google maps embedding;</p>-->
<!--        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9933.490822613407!2d-3.1845439261935375!3d51.506377949006364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1c8d0919099f%3A0x60bea7f0ae155f28!2sRoath%20Park!5e0!3m2!1sen!2suk!4v1698921027199!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--    </div>-->

    <div id="map" ></div>
    <div>Selected regions: <span id="info">None</span></div>




</main>
<footer th:insert="~{/towns/Templating.html::footer}"></footer>
</body>
</html>