<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Trails</title>
    <link rel="stylesheet" th:href="@{/css/colours.css.css}">
    <link rel="stylesheet" th:href="@{/css/mobile-style.css}">
    <link rel="stylesheet" th:href="@{/css/allTrails.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<header th:replace="~{/fragments/banners :: header}"></header>

<main>
    <section id="allTrailsBar" class="centerFlex">
        <a th:each="trail : ${trails}" th:href="'/trails/' + ${trail.getTrailLink()}" class="trailWrapper">
            <h1 th:text="${trail.getTrailName()}"></h1>
            <img class="trailsImages"
                th:src="${trail.getImagePath()}"
                th:onclick="'updateOutputTrail('+ ${trail.getTrailsId()} +');'"
                th:id="'img' + ${trail.getTrailsId()}" th:alt="${trail.getTrailName()}"
        ></a>

    </section>
<!--    <section id="trailInfoContainer" class="trailInfoFrag">-->
<!--        &lt;!&ndash;All this section is loaded from thymeleaf, based on what tail is selected-->
<!--            in the #allTrailsBar &ndash;&gt;-->
<!--        <div class="trailInfoHeader">-->
<!--            <h1 class="centerFlex">Please select your trail</h1>-->
<!--        </div>-->
<!--    </section>-->
</main>
<footer th:replace="~{/fragments/banners :: footer}"></footer>

<script type="text/javascript" th:src="@{scripts/allTrails.js}"></script>

</body>
</html>