<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Trails</title>
    <link rel="stylesheet" th:href="@{css/allTrails.css}">
    <link rel="stylesheet" th:href="@{css/banners.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<header th:replace="towns/templates.server/Templating.html :: headerBlock"></header>

<main>
    <section id="allTrailsBar" class="centerFlex">
        <!--TODO add rest of page-->
        <img class="trailsImages"
             th:each="trail : ${trails}"
             th:src="@{${trail.getImgPath()}}"
             th:onclick="'updateOutputTrail('+ ${trail.getId()} +');'"
             th:id="'img' + ${trail.getId()}" th:alt="${trail.getName()}"
        >
    </section>
    <section id="trailInfoBox"></section>
</main>

<footer th:replace="towns/templates.server/Templating.html:: footerBlock"></footer>

<script type="text/javascript" th:src="@{scripts/allTrails.js}"></script>

</body>
</html>