<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'VZLA Profile Page of ' + ${user.getName()}"></title>
    <link rel="stylesheet" th:href="@{/css/userProfile.css}">
<!--    <link rel="stylesheet" th:href="@{/css/templatingstyle.css}">-->
</head>
<body>

<header>
    <ul class="footerBar">
        <li class="footerButton"><b>Home</b></li>
        <li class="footerButton"><b>About</b></li>
        <li class="footerButton"><b>Map</b></li>
        <li class="footerButton"><b>Facilities</b></li>
        <li class="footerButton"><b>Search</b></li>
    </ul>
</header>

<main>
    <!--PICTURE - DATA - BADGES -->
    <div class="userInfo">
        <img th:src="@{${user.getImgPath()}}"
             th:alt="${user.getName()}"
             id="userPicture"
        >
        <h1 th:text="${user.getName()}"></h1>
        <!--TODO add some progression info here?-->
    </div>
    <section class="rewards"> <!--Reward lists, badges on top, stickers (larger) on the bottom-->
<!--        <article id="badgesBar">-->
<!--            <h2>Your Badges: </h2> &lt;!&ndash;Shows first earned badges, followed by greyed out badges&ndash;&gt;-->
<!--            <div id="allBadgesContainer"  class="centerFlex">-->
<!--                <img class="badgeImg"  th:each="badge : ${badges}" th:src="@{'..' + ${badge.getImgPath()}}"-->
<!--                     th:id="'img' + ${badge.getId()}" th:alt="${badge.getName()}" >-->
<!--            </div>-->
<!--        </article>-->
        <article class="dragonProgression">
            <h1>The Dragon Trail</h1>
            <div class="dragonContainer">
                <div class="dragonFill" th:style="'width:'+ ${user.getDragonProgress()} + '%;'">
                    <img th:src="@{/images/rewards/dragonFilled.png}"
                         alt="Filled Dragon" id="FilledDragon" class="dragonImg">
                </div>
                <div class="dragonOut">
                    <img th:src="@{/images/rewards/dragonOutline.png}"
                         alt="Outline Dragon" id="OutlineDragon" class="dragonImg">
                </div>
            </div>
            <h2 th:text="${user.getDragonProgress()} + '%'"></h2>
        </article>
        <article id="stickersBox"> <!--Need a controller to show earned stickers -->
            <h2> STICKERS! </h2>
            <div class="stickersContainer">
                <img th:class="'stickerImg ' + ${sticker.getVisibility()}"  th:each="sticker : ${stickers}" th:src="@{'../' + ${sticker.getImgPath()}}"
                     th:id="'img' + ${sticker.getId()}" th:alt="${sticker.getName()}" >
            </div>
        </article>
    </section>


</main>

<footer>

</footer>


<script>
</script>
</body>
</html>

<!--TODO finished doing the tooltips, need to add some more changes to them for sure
    TODO afterwards probably need to implement thymeleaf so it shows badges based on the list
    TODO implement some placeholder pictures as well for the badges and for the stickers -->