<!--setup html page for QR codes - R Nute-->
<!--Modified from (https://www.geeksforgeeks.org/create-a-qr-code-scanner-or-reader-in-html-css-javascript/)-->

<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/templatingstyle.css">
        <link rel="stylesheet" href="/css/qrstyle.css">
        <script src="https://unpkg.com/html5-qrcode"></script>
        <script type="module" src="/scripts/qr-script.js"></script>
        <title>QR Code</title>
    </head>

    <body>
        <div th:fragment="qrCode" class="container">
            <h1>Scan location QR code</h1>
            <div class="section">
                <div id="qr-code-reader">
                </div>
            </div>
        </div>

    </body>
</html>
