
<link rel="stylesheet" href="../../static/css/templatingstyle.css">
<header class="headerBar" th:fragment="header">
    <div class="Logo">
        <img src="/images/icons/VZTA.png" height="97" width="400" alt="VZTA Logo"/>
    </div>
    <nav class="navBar">
        <ul>
            <li><a id="homeHead" href="/home">Home</a></li>
            <li>FAQs</li>
            <li>Contact us</li>
        </ul>
        <label class="work">Who  we Work with:</label>
        <select>
            <ul>
                <option value="localauthorities">Local Authorities</option>
                <option value="towns">Towns</option>
                <option value="businesses">Businesses</option>
                <option value="consumers">Consumers</option>
            </ul>
        </select>
    </nav>
</header>

<div class="footerBar" th:fragment="footer">
    <div class="containerFooter">
        <div class="leftFooter">
            <h3>VZTA</h3>
            Near Me Now LTD
            <br>Britania House
            <br>Caerphilly Business Park
            <br>Caerphilly
            <br>CF83 3GG
        </div>
        <div class="rightFooter">
            <h3>Connect with us</h3>
            <p>Be the first to know about updates by joining out Community page</p>
            (C) VZTA 2022<br>
            Policy Terms and Conditions
        </div>
        <div class="centerFooter">
                        <span class="footerText">
                            <h3>Follow Us</h3>
                            <a href="https://www.facebook.com/VZTAsmarttowns/" class="icon"><img src="/images/icons/Facebook.png" height="25" width="25" alt="Facebook Logo" class="icon"/></a>
                            <a href="https://www.twitter.com/VZTAsmarttowns/" class="icon"><img src="/images/icons/Twitter.jpg" height="25" width="25" alt="X (formally Twitter) Logo" class="icon"/></a>
                            <a href="https://www.instagram.com/vztasmarttowns/" class="icon"><img src="/images/icons/Instagram.jpg" height="25" width="25" alt="Instagram Logo" class="icon"/></a>
                            <a href="https://www.linkin.com/company/vztasmarttowns/" class="icon"><img src="/images/icons/Linkedin.png" height="25" width="25" alt="Linkedin Logo" class="icon"/></a><br>
                        </span>
        </div>
        <div class="copyright" style="text-align: left">

        </div>
    </div>
</div>
</div>
<!--&gt;>>>>>> main-->
