<!DOCTYPE html>
<html lang="en" th:fragment="townSection" class="townPageFrag">
<head>
    <meta charset="UTF-8">
    <title th:text="${town.getTownName()}"></title>
    <link rel="stylesheet" th:href="@{/css/templatingstyle.css}">
    <link rel="stylesheet" th:href="@{/css/locationPageFragsStyle.css}">
</head>
<body >
<header th:insert="~{/fragments/Templating.html::header}"></header>
<main>

    <hr style="height:40px; visibility:hidden;" />

    <hr style="height:40px; visibility:hidden;" />
</main>

<footer th:insert="~{/fragments/Templating.html::footer}"></footer>
</body>
</html>