<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Log In</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<header>
</header>

<main>
    <!--CODE MODIFIED FROM: https://github.com/AsmrProg-YT/Modern-Login -->
    <div class="container sign-in">
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form th:object="${user}" action="#" th:action="@{/login/register}" th:method="POST" onsubmit="return registerFormValidation()">
                    <h1>Create Account</h1>
                    <label>
                        <input class="input" th:field="*{name}" id="register-username" type="text" placeholder="Name">
                    </label>
                    <label>
                        <input class="input" th:field="*{email}" id="register-email" type="email" placeholder="Email">
                    </label>
                    <label>
                        <input class="input" th:field="*{password}" id="register-password" type="password" placeholder="Password">
                    </label>
                    <button type="submit" >Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form th:object="${user}" action="#" th:action="@{/login/register}" th:method="POST" onsubmit="return loginFormValidation()">
                    <h1>Sign In</h1>
                    <label>
                        <input class="input" th:field="*{email}" id="login-email" type="email" placeholder="Email">
                    </label>
                    <label>
                        <input class="input" th:field="*{password}" id="login-password" type="password" placeholder="Password">
                    </label>
                    <a href="#" class="text">Forget Your Password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details and start tracking your landmarks!</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Welcome!</h1>
                        <p>Register with your personal details and start earning stickers!</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script type="text/javascript" th:src="@{scripts/login.js}"></script>

</body>
</html>