<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Log In</title>
    <link rel="stylesheet" th:href="@{/css/colours.css.css}">
    <link rel="stylesheet" th:href="@{/css/mobile-style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<header th:replace="~{/fragments/banners::header}"></header>

<main>
    <!--CODE MODIFIED FROM: https://github.com/AsmrProg-YT/Modern-Login -->

        <div class="container" id="container">
            <div class="form-container sign-up">
                <h1 class="form-title">Create Account</h1>
                <form th:object="${user}" action="#" th:action="@{/login/register}" th:method="POST" onsubmit="return registerFormValidation()">
                    <label>
                        <input class="input" th:field="*{name}" id="register-username" type="text" placeholder="Name">
                    </label>
                    <label>
                        <input class="input" th:field="*{email}" id="register-email" type="email" placeholder="Email">
                    </label>
                    <label>
                        <input class="input" th:field="*{password}" id="register-password" type="password" placeholder="Password">
                    </label>
                    <button type="submit" >Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <h1 class="form-title">Sign In</h1>
                <form  name="f" th:action="@{/login}" th:method="POST">
                    <div th:if="${param.error}" class="alert alert-error">Invalid Username or Password</div>
                    <div th:if="${param.logout}" class="alert alert-success">Successfully Logged out</div>
                    <label>
                        <input class="input" id="username" type="text" name="username" placeholder="Email">
                    </label>
                    <label>
                        <input class="input" id="password" type="password" name="password" placeholder="Password">
                    </label>
                    <a href="#" class="recovery-text">Forget Your Password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details and start tracking your landmarks!</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Welcome!</h1>
                        <p>Register with your personal details and start earning stickers!</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

</main>

<footer th:replace="~{/fragments/banners::footer}"></footer>

<script type="text/javascript" th:src="@{scripts/login.js}"></script>

</body>
</html>