body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #927BB7;
}

.dropdown{
    background-color: coral;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.images{
    max-width:100%;
    height:auto;
}


.landmarkName{
    font-weight: bold;
    text-align: left;
}

.landmarkDesc{
    font-style: italic;
    text-align: left;
}

body{
    background-color: #E8A87C;
}



