body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #927BB7;
}

.dropdown button{
    background-color: coral;
    color: white;
    padding: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#hero-image-one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/dragonstale/DTLM1.png');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text-one {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.dropdown .content{
    display: none;
    position: absolute;
    background-color: #D3B69C;
    min-width:100px;
    box-shadow: white;
    z-index: 1;
}

.dropdown:hover .content{
    display: block;
}


main{
    padding: 20px;
    margin: 20px;
}

.images{
    max-width:100%;
    height:auto;
}


.landmarkName{
    font-weight: bold;
    text-align: left;
}

.landmarkDesc{
    font-style: italic;
    text-align: left;
}

body{
    background-color: #E8A87C;
}



