.centre{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #927BB7;
}

#homeimg.centre{
    box-shadow: 100px -100px purple;
}

body{
    background-color: #927BB7;
}