/*LandmarkFormTh stylesheet*/
body{
    background:  rgb(41, 41, 41);
    color: wheat;
}
#landmarkSubmission {
    background-color: rgb(206, 153, 253);
    color: black;
    border-color: white;
    align-content: center;
    text-align: center;
    border-radius: 25px;
    max-width: 620px;
    margin: 0 auto
}

#landmarkFormTitle{
    color:white;
    text-align: center;

}