* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    /*COLOUR PALETTE*/
    @media (prefers-color-scheme: dark) {
        --primary-darker: hsl(272, 100%, 10%);
        --primary-dark: hsl(271, 100%, 20%);
        --primary-colour: hsl(271, 100%, 30%);
        --primary-light: hsl(271, 100%, 40%);
        --primary-lighter: hsl(271, 100%, 50%);

        --secondary-colour: hsl(12, 81%, 46%);
        --accent-colour: hsl(12, 82%, 32%);
        --accent-border: hsl(12, 81%, 25%);

        --accent-shadow: rgba(0, 0, 0, 0.7) 0 0.5em 1em -0.5em;

        color:  white;

    }
    @media (prefers-color-scheme: light) {
        --primary-darker: hsl(272, 100%, 10%);
        --primary-dark: hsl(271, 100%, 20%);
        --primary-colour: hsl(271, 100%, 30%);
        --primary-light: hsl(271, 100%, 40%);
        --primary-lighter: hsl(271, 100%, 50%);

        --secondary-colour: hsl(12, 81%, 46%);
        --accent-colour: hsl(12, 82%, 32%);
        --accent-border: hsl(12, 81%, 25%);

        --accent-shadow: rgba(0, 0, 0, 0.7) 0 0.5em 1em -0.5em;

        color: white;


    }
}

body {
    background: linear-gradient(to bottom right,
    var(--primary-darker),
    var(--primary-dark),
    var(--primary-darker));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*PHONES PORTRAIT*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px) {
    body {
        position: fixed;
        width: 100vw;
        height: 100svh;
    }
    html {
        position: fixed;
        width: 100vw;
        height: 100svh;
    }
}

/*PHONES LANDSCAPE*/
@media only screen
and (min-device-width: 640px)
and (max-device-width: 1000px) {


}

/*LARGER SCREENS*/
@media only screen and (min-device-width: 1000px) {}