/* AUTHOR: Gabriel Copat*/

.userInfo {
    display: flex;
    flex-direction: column;
    padding: min(2vw, 4em);
    text-align: center;

    & #userPicture {
        width: min(30vw, 30em);
        margin-inline: auto;
        border-radius: 100%;
        border: solid #a2a2a2 4px;
        box-shadow: rgba(0, 0, 0, 0.7) 0 0.5svh max(1vw, 1em);
    }

    & h1 {
        font-size: max(5vw, 2em);
        margin: 1svh 25%;
        color:white;
        border-bottom: #36454F solid 2px;
        border-radius: 5vw;
        box-shadow: rgba(0, 0, 0, 0.7) 0 0.5svh 1vw -1vw;
    }
}

#badgesBar {
    border-radius: 1vw;
    display: grid;
    grid-template-areas: "header"
                         "badges";
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    color: white;
    @media only screen and (min-device-width: 501px) {
        height: 24vw;
    }
    & h2 {
        position: absolute;
        grid-area: header;
        margin-inline: 5vw;
        padding-inline: 2vw;
        margin-block: 0.5svh;
        box-shadow: rgba(0, 0, 0, 0.7) 0 0.5svh 1vw -1vw;
        border-bottom: #36454F solid 2px;
        font-size: 4vw;
        @media only screen and (min-device-width: 501px) {
            font-size: 4vw;
        }
    }
    & #allBadgesContainer {
        margin-top: 3svh;
        grid-area: badges;
        height: 10svh;
        align-content: center;
        display: flex;
        @media only screen and (min-device-width: 501px) {
            height: 20vw;
            margin-top: 6vw;
        }
    }
    & .badgeImg {
        margin-inline: 3vw;
        height: 8svh;
        @media only screen and (min-device-width: 501px) {
            height: 15vw;
        }

        transition: 0.3s ease-out 100ms;
    }
    & .badgeImg:hover {
        /*box-shadow: 0 0 20px 10px #bbbb00;*/
        transform: scale(1.5,1.5);
    }
}

#stickersBox {
    display: flex;
    flex-direction: column;
    margin-block: 0.5svh;
    margin-inline: 0.5vw;
    border-radius: 2vw;
    background: #9f74be;
    & h2 {
        font-size: 4em;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.7) 0 2vw 2vw -2vw;
        border-bottom: #36454F solid 2px;
        margin-block: 1svh;
        margin-inline: 25%;
    }
    & .stickersContainer {
        margin-block: 1svh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        & img {
            width: 20vw;

        }
    }
}
.locked {
    filter: grayscale(100%);
}




/* TOOLTIP CSS MODIFIED FROM:
    http://www.menucool.com/tooltip/css-tooltip*/
.popUpBox {
    display: flex;
    position:relative;
    width: 50vw;
    height: 50svh;
    margin:auto;
    align-self: center;
    /*transform:translate(-50%, -5%);*/
    padding:10px 20px;
    color:#ffffff;
    background-color:#009cdc;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;

    z-index:99;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
    overflow: visible;
}
.tooltip:hover .popUpBox {
    visibility:visible; opacity:1;
    overflow: visible;
}
.tooltip .text-content {
    padding:10px 20px;
}

.tooltip .popUpBox i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}


