/* AUTHOR: Gabriel Copat*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*COLOUR PALETTE*/
    @media (prefers-color-scheme: dark) {
        --primary-darker: hsl(272, 100%, 10%);
        --primary-dark: hsl(271, 100%, 20%);
        --primary-colour: hsl(271, 100%, 30%);
        --primary-light: hsl(271, 100%, 40%);
        --primary-lighter: hsl(271, 100%, 50%);

        --secondary-colour: hsl(12, 81%, 46%);
        --accent-colour: hsl(12, 82%, 32%);
        --accent-border: hsl(12, 81%, 25%);

        --accent-shadow: rgba(0, 0, 0, 0.7) 0 0.5em 1em -0.5em;

        color: white;

    }
    @media (prefers-color-scheme: light) {
        --primary-darker: hsl(272, 100%, 10%);
        --primary-dark: hsl(271, 100%, 20%);
        --primary-colour: hsl(271, 100%, 30%);
        --primary-light: hsl(271, 100%, 40%);
        --primary-lighter: hsl(271, 100%, 50%);

        --secondary-colour: hsl(12, 81%, 46%);
        --accent-colour: hsl(12, 82%, 32%);
        --accent-border: hsl(12, 81%, 25%);

        --accent-shadow: rgba(0, 0, 0, 0.7) 0 0.5em 1em -0.5em;

        color: white;


    }
}



/* DEFAULT CSS MADE FOR SCREEN SIZES WIDTHS
    BETWEEN 320px and 640px:*/

body {
    background: linear-gradient(to bottom right,
    var(--primary-darker),
    var(--primary-dark),
    var(--primary-darker));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    position: fixed;
    width: 100vw;
    height: 100svh;
}

.grayedSticker {
    filter: grayscale(1);
}
.gotSticker {
    filter: drop-shadow(0 0 10px yellow);
}


html {
    position: fixed;
    width: 100vw;
    height: 100svh;
}
main {
    width: 90%;
    height: 95%;
    background: linear-gradient(to bottom left, #1f1f1f, #1e1e1e, #1f1f1f);
    overflow-x: hidden;
    overflow-y: scroll;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border-radius: 5vw;
}
.userContainer {
    width: 90%;
    padding-block: 2em;
    margin-block: 1em;
    border-radius: 5vw;
    display: flex;
    flex-direction: row-reverse;
    /*align-items: center;*/
    justify-content: space-evenly;

    row-gap: 1svh;

    & h1 {
        font-size: 5em;
        text-align: center;
        text-shadow: black 0 0.2em 0.5em;
        letter-spacing: 0.1em;
        width: 40vw;
        max-height: 40vw;
        /*border-bottom: black solid 3px;*/
        padding-inline: 5%;
        padding-block: 2%;
        border-radius: 35%;
        /*box-shadow: var(--accent-shadow);*/
        /*background: var(--accent-border);*/
        align-self: center;
        text-wrap: normal;
    }
    & #userPicture {
        border-radius: 100%;
        box-shadow: var(--accent-shadow);
        overflow: hidden;
    }

}


.rewards {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100%;
}
#packsBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    & h2 {
        font-size: 4em;
        letter-spacing: 0.1em;
        border-bottom: 10px solid darkred;
        margin-inline: 5%;
    }

}
#allPacksContainer {
    padding-top: 3em;
    display: flex;
    overflow-x: scroll;
    padding-inline: 20%;
    justify-content: space-between;
    border-bottom: 10px solid rgba(139, 0, 0, 0.5);
    margin-bottom: 2em;
    & .packName {
        font-size: 2em;
        height: 2.4em;
        overflow: hidden;
        padding-bottom: 1em;
        display: flex;
        justify-content: center;
        align-content: flex-start;

    }
    & .packImg {
        transition: 0.5s ease-in-out 1ms;
        border-radius: 20%;
    }
}
.packImg:hover {
    transform: scale(1.5, 1.5)
}
.progressionContainer {
    display: flex;
    flex-direction: column;
    height: 18svh;
    & h1 {
        font-size: 4em;
        width: 100%;
        font-family: 'MedievalSharp', cursive;
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    & .progImgContainer {
        position: relative;
        margin-inline: auto;
        & .progImg {
            height: 14svh;
            /*width: 16svh;*/
            border-radius: 20%;
        }
        & .progImgFill {
            position: absolute;
            overflow: hidden;
            width: 50%;
        }
        & .progImgOutline {
            opacity: 0.1;
            filter: grayscale(1);
        }
        & .progText {
            font-family: Consolas, serif;
            opacity: 0.5;
            -webkit-text-stroke: 1px black;
            position: absolute;
            text-align: center;
            width: 16svh;
            left:50%;
            transform: translate(-50%, 150%);
            font-size: 3em;
        }

    }

}

#stickersBox {
    width: 100%;
}
.stickersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    row-gap: 2em;
    height: 100%;

}
.stickerImg {
    height: 17em;
    margin: 1.5em;
}
/*}*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px) {
    #userPicture {
        width: 30vw;
        height: 30vw;
        border: solid #989898 0.8em;
    }
    .packImg {
        height: 10svh;
        width: 15em;
        padding-inline: 1em;
        margin-inline: 1em;
    }
    #allPacksContainer::-webkit-scrollbar {
        display: none;
        -ms-scrollbar-darkshadow-color: transparent;
    }
}

@media only screen
and (min-device-width: 1000px) {
    #userPicture {
        width: 200px;
        height: 200px;
        border: solid #989898 10px;
    }
    #allPacksContainer {
        padding:0;
        margin-block: 50px;
        width: 100%;
        height: 100%;
        overflow: visible;
        border: 5px solid rgba(139, 0, 0, 0.5);
        justify-content: space-evenly;
    }
    .packImg {
        height: 100px;
        width: 125px;
        padding-inline: 1em;
        margin-inline: 3em;
    }
    .packImg:hover{
        transform: scale(2,2);
    }
    .packImg:hover ~ .packName{
        visibility: visible;
        opacity: 1;
    }
    & .packName {
        position: absolute;
        visibility: hidden;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 1s;
    }
    #packsBar {
        /*height: 250px;*/
        & h2 {
            display: none;
        }
    }
    .progressionContainer {
        height: 20svh;
    }
}