<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landmark Sign Up</title>
</head>
<body>
<main>
    <form action="/landmarkSub" id="landmarkSubmission" name="landmarkSubmission" method="post" th:object="${landmarkData}" onsubmit="return landmarkFormValidation()">


        <label>Business Name:&nbsp;
           <input type="text" th:field="*{landmarkName}">
        </label><br>
        <label>Contact Address:
            <input type="text" th:field="*{landmarkEmail}">
        </label><br>
        <label>Please Describe Your Business:<br>
            <textarea th:field="*{landmarkDescription}" rows="8" cols="60"></textarea>
        </label><br>
        <label>Your town/city:
            <input type="text" th:field="*{landmarkName}">
        </label><br>
        <label>Trail:

            <select th:field="*{trailID}">
                <option value=0 disabled selected>Select Trail</option>
                <option value=1>Trail 1</option>
                <option value=2>Trail 2</option>
                <option value=3>Trail 3</option>
            </select>
        </label><br>


        <input type="submit">
    </form>

</main>

<script>
    function landmarkFormValidation(){
        console.log("sadasd");
        var pass=true;
        var description = (document.forms["landmarkSubmission"]["landmarkDescription"].value);
        console.log(description);
        var descriptionWrdCount=description.split(" ").length
        if(descriptionWrdCount>5){
            alert('Please keep your review to a maximum of 5 words.');
            console.log("BAD!!");
            pass = false;

        }
        return pass;
    }


</script>

</body>
</html>