<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landmark Sign Up</title>
</head>
<body>
<main>
    <form action="/landmarkSub" id="landmarkSubmission" name="landmarkSubmission" method="post" th:object="${landmarkData}">


        <label>Business Name:
           <input type="text" th:field="*{landmarkName}">
        </label><br>
        <label>Please Describe Your Business:<br>
            <textarea th:field="*{landmarkDescription}" rows="6" cols="80"></textarea>
        </label><br>
        <label>Your town/city:
            <input type="text" th:field="*{landmarkName}">
        </label><br>
        <label>Trail:
            <input type="text" th:field="*{trailID}">
        </label><br>

        <input type="submit">
    </form>

</main>

</body>
</html>