<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Authorities</title>
    <link rel="stylesheet" href="../static/css/templatingstyle.css">
</head>
<body>
<h1>Local Authorities</h1>
<div id="councils">
    <ul th:each="localauthority:${localauthorities}">
        <li th:text="${localAuthority}"></li>
    </ul>
</div>
<p>Local Authorities please enter here</p><button><a href="local-auth-data" id="authority">Login</a></button>
<footer insert=towns/Templating.html::footer></footer>
</body>
</html>