<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Authorities</title>
    <link rel="stylesheet" th:href="@{css/localAuthorityPageStyle.css}">
    <link rel="stylesheet" th:href="@{css/templatingstyle.css}">
</head>
<header th:insert="~{/towns/Templating.html::header}"></header>
<body>
<h1>Local Authorities</h1>
<div id="councils">
    <ul th:each="localAuthority:${localAuthority}">
        <li th:text="${localAuthority}"></li>
    </ul>
</div>
<a href="/localForm" id="authority"><button>Local Authorities please enter here</a></button>
<footer th:insert="~{/towns/Templating.html::footer}"></footer>
</body>
</html>