<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landmark one Complete!</title>
    <link rel="stylesheet" th:href="@{css/dragonstaless.css}">
    <link rel="stylesheet" th:href="@{css/mobile-style.css}">
    <script type="text/javascript" th:src="@{/scripts/DTscript.js}"></script>
</head>
<body>
  <main>
    <header th:insert="~{/fragments/banners.html::header}"></header>
    <h1>Well done! You have completed the first landmark of dragons trail.
    </h1>
    <img th:src="@{/images/dragonstale/dtlm2.png}" alt="Image of a dragon" class="images">
    <p> As I ventured deep into the mysterious cave, the air grew thick with anticipation. Amidst the shadows, a shimmering glint caught my eye, revealing the majestic scales of a slumbering dragon. Its enormous form lay curled protectively around a hoard of ancient treasures, and the cavern echoed with the rhythmic pulse of its slow, steady breaths. I stood in awe, torn between the thrill of discovery and the primal fear that gripped my heart in the presence of such a mythical beast.</p>
    <footer th:insert="~{/fragments/banners.html::footer}"></footer>
  </main>
</body>
</html>