<!DOCTYPE html>
<html lang="en">
<style>
    #landmarkList{
        border: 2px solid black;

    }

</style>

<head>
    <meta charset="UTF-8">
    <title>Caerphilly</title>
</head>
<body>
<main>
    <h1> Welcome to the town of Caerphilly.</h1>

    <h2> Welcome to the trail of trail-ness!</h2>
    <section name="Badge/StickerProgress"></section>

    <li name="landmarkList"id="landmarkList">
        <ul>1.  Landmark 1 - href</ul>
        <ul>2.  Landmark 2 - href</ul>
        <ul>3.  Landmark 2 - href</ul>
        <ul>4.  Landmark 2 - href</ul>
        <ul>5.  Landmark 2 - href</ul>
    </li>




</main>
</body>

</html>